.nav-item{
    font-size: larger;
    padding:20px;
    font-family: sans-serif;
    font-weight: bolder;
    position:relative;
    left:10px
}
.card{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.8);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.8);
    padding: 0;
     margin-bottom: 100px;
    margin-right: 50px;
    position: relative;
    top:55em;
    left: 200px;
}

